#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #30698c;
background-image: linear-gradient(135deg, #30698c 0%, #6c246d 100%);
}

.main {
  flex-grow: 1;
}
.caja-principal {
	background-color:#ff0000;
	border:1px solid #000000;
  height: 50px;
  width: 75px;
}
.caja-azul {
	background-color:#0400ff;
	border:1px solid #ffffff;
  height: 100px;
  width: 100px;
}